<div class="Carrito">
        <p>Carrito ID: {{this.carts}}</p>
        <h2>Productos en el carrito:</h2>
        <ul>
            {{#each product}}
                <li>
                    <p>Nombre: {{this.prodId.title}}</p>
                    <p>Descripción: {{this.prodId.description}}</p>
                    <p>Precio: ${{this.prodId.price}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                </li>
            {{/each}}
        </ul>
    </div>