<div class="cardDetail mt-5">
    <p>Nombre: {{this.title}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Codigo: {{this.code}}</p>
   
    <p>Precio: {{this.price}}</p>
    <form action="/carts/652b091e08c04721038bafab/product/{{this.id}}" method="post">
        <input type="submit" value="Comprar">
    </form>

</div>