<div class="container" >
    <h1>Productos</h1>

    <div class="row row-cols-1 row-cols-md-2 g-2">

        {{#each products}}
        <div>
            <div class="col">
                    <div class="card mb-2" >
                        <img src={{this.thumbnail}} class="card-img-top " alt="">
                            <div class="card-body" >
                                <h3> Nombre: {{this.title}}</h3>
                                <h4> Modelo: {{this.description}}</h4>
                                <p>{{this.price}}</p>
                                <a href="/product/{{this.id}}">
                                    <button class="btn btn-outline-dark">Detalles</button>
                                </a>
                            </div>   
                </div>
            </div>    
        </div>    

        {{/each}}    
        
    </div>
    <div>
         <center>
        {{#if hasPrevPage}}
            <a href="/products?numPage={{prevPage}}"><button>Anterior</button></a>
        {{/if}}

        <label >{{page}}</label>
      
        {{#if hasNextPage}}
            <a href="/products?numPage={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
        </center>
    </div>
</div>    



    


   