
<div class="container">
    <h1>Perfil del Usuario</h1>

   {{#with user}}
        <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.role}}</p>
    {{/with}}

      <form action="/logout" method="get">
    <input type="submit" class="btn btn-primary" value="Cierre de Sesion" />
  </form>
</div>
</div>

