<h1>Usuarios</h1>
<div>

    <ul>
    {{#each users}}
        <li>
            <strong>Nombre</strong>: {{first_name}} - 
            <strong>Apellido</strong>: {{last_name}} - 
            <strong>Correo</strong>: {{email}}
        </li>
    {{/each}}
    </ul>
    <center>
        {{#if hasPrevPage}}
            <a href="/users?numPage={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/users?numPage={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}

    </center>
    
</div>
